.firstLine {
  display: flex;
}
.secondLine {
  display: flex;
}
.thirdLine {
  display: flex;
}
.coordinate {
  position: relative;
  width: 200px;
  height: 200px;
  border: 4px double black;
}
.status {
  width: 150px;
  height: 150px;
  position: relative;
  left: 215px;
  border: 4px double black;
  margin: 20px;
}
.status1 {
  width: 150px;
  height: 150px;
}
.clear {
  position: relative;
  left: 265px;
  margin: 20px;
}
.theEnd {
  position: relative;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lineHorizontal1 {
  position: absolute;
  top: 105px;
  left: 40px;
}
.lineHorizontal2 {
  position: absolute;
  top: 305px;
  left: 40px;
}
.lineHorizontal3 {
  position: absolute;
  top: 515px;
  left: 40px;
}
.lineVertical1 {
  position: absolute;
  left: 105px;
  top: 35px;
}
.lineVertical2 {
  position: absolute;
  left: 415px;
  top: 35px;
}
.lineVertical3 {
  position: absolute;
  left: 725px;
  top: 35px;
}
.diagonal1 {
  position:absolute;
  left: 45px;
  top: 315px;
  transform: rotate(45deg);
}
.diagonal2 {
  position:absolute;
  left: 40px;
  top: 315px;
  transform: rotate(135deg);
}