.firstLine {
  display: flex;
}
.secondLine {
  display: flex;
}
.thirdLine {
  display: flex;
}
.first {
  position: relative;
  width: 200px;
  height: 200px;
  border: 4px double black;
}
.second {
  position: relative;
  width: 200px;
  height: 200px;
  border: 4px double black;
}
.third {
  position: relative;
  width: 200px;
  height: 200px;
  border: 4px double black;
}
.fours {
  position: relative;
  width: 200px;
  height: 200px;
  border: 4px double black;
}
.fives {
  position: relative;
  width: 200px;
  height: 200px;
  border: 4px double black;
}
.sixes {
  position: relative;
  width: 200px;
  height: 200px;
  border: 4px double black;
}
.sevens {
  position: relative;
  width: 200px;
  height: 200px;
  border: 4px double black;
}
.eights {
  position: relative;
  width: 200px;
  height: 200px;
  border: 4px double black;
}
.nines {
  position: relative;
  width: 200px;
  height: 200px;
  border: 4px double black;
}
.status {
  width: 150px;
  height: 150px;
  position: relative;
  left: 215px;
  border: 4px double black;
  margin: 20px;
}
.clear{
  position: relative;
  left: 265px;
  margin: 20px;
}